parameters:
  level: 8
  treatPhpDocTypesAsCertain: false
  paths:
    - ../CRM
    - ../Civi
    - ../api
    - ../tests
  scanDirectories:
    - ../packages
    - ../ext
  bootstrapFiles:
     - stubs/joomla.stub.php
     - stubs/wordpress.stub.php
     - stubs/drupal.stub.php
     - stubs/drupal-namespaces.stub.php
     - bootstrap.php
  universalObjectCratesClasses:
     - CRM_Core_Config
     - CRM_Core_DAO
     - Civi\Core\Event\GenericHookEvent
  excludePaths:
     - ../Civi/Test/Legacy/CiviTestListener.php
     - ../Civi/Test/TAPLegacy.php
     - ../packages/HTML/QuickForm/advmultiselect.php
     - */DAO/*
  parallel:
    processTimeout: 120.0